.btn-orange {
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-orange:hover {
    background-color: #0056b3;
}