.col-md-6 {
    padding-bottom: 50px;
}
.library-guide {
    text-align: left;
}
h2 {
    color: #424345;
    font-size: 24px;
    font-weight: bold;
}
.btn-orange {
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-orange:hover {
    background-color: #0056b3;
}