
.sidebar {
    background-color: #f8f9fa; // Màu nền của sidebar
    padding: 20px;
    height: 100vh; // Chiều cao 100% của viewport
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; // Hiệu ứng chuyển động mượt mà khi ẩn và hiện sidebar
  
    .sidebar-link {
      display: block;
      padding: 10px;
      color: #333; // Màu chữ
      text-decoration: none; // Bỏ gạch chân
      border-radius: 5px; // Bo tròn góc
  
      &:hover {
        background-color: #e2e6ea; // Màu nền khi hover
      }
    }
    .btn-secondary {
        margin-bottom: 15px; // Khoảng cách dưới nút
  }
}