nav {
  width: 350px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;

      a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e2e6ea;
        }

        &.active {
          background-color: #007bff; // Change background color when active
          color: #fff; // Change text color to white
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1000;
    margin: 0;
    height: 100vh;
    transition: transform 0.3s ease-in-out;

    &.active {
      transform: translateX(0);
    }
  }
}

.sidebar-toggler {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1001;
  }
}
